:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue,
    sans-serif;
}
.paragraph-text {
  color: aqua;
}
.paragraph-text:hover {
  color: #b33106;
  cursor: pointer;
  font-style: italic;
}
.users-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
}
.user-card {
  flex: 0 1 30%;
}
.user-card:hover {
  cursor: pointer;
}
