/documentation
.DS_Store
node_modules
build/
build/*
*.log*
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
coverage
coverage/*
.directory
pids
*.pid
*.seed
*.pid.lock
*.eslintcache
/.env
/.env.*
/.env.local
/.env.*.local
!.env.example
*.sublime-project
*.sublime-workspace
.idea
*.swp
*.swo
